<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auction room</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
        .scroll-box{
          width: 300px;
          height: 550px;
          overflow: auto;
          color: #333333
        }
        .scroll-box2{
          width: 400px;
          height: 50px;
          overflow: auto;
          color: #333333

        }
        .black{
            color:#333333
        }
        .custom-button {
        background-color: #070707; /* Set the background color of the button */
        color: #ffffff; /* Set the text color of the button */
        border: none; /* Remove the border around the button */
        padding: 10px 20px; /* Set padding to create some spacing */
        cursor: pointer; /* Change the cursor to a pointer on hover */
      }
      .white{
        color:#ffffff
      }
      </style>
    <!-- Favicon -->
    <link rel="shortcut icon" href="http://localhost:3030/vie-dark/img/auc_icon.png" />

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
     rel="stylesheet">
    <link
     href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
     rel="stylesheet">


    <!-- Plugins -->
    <link rel="stylesheet" href="http://localhost:3030/vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="http://localhost:3030/vie-dark/css/style.css" />

    

  </head>
  <body class="position-r">

    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->

    <div class="container">
        <div class="row">
            <div class="col-lg-4 ">
              <div class="card-header" ><%= user.username%></div>
              <div class="card">
                <div class="card-body">
                </div>
        
                <div class="message-box">
                  <ul class="list-group list-group-flush scroll-box" id="message-list"></ul>
                  <div class="info black"></div>
                </div>
        
                <div class="card-footer">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      id="message"
                      placeholder="Send new message"
                    />
                    <div class="input-group-append">
                      <button class="btn custom-button" type="button" id="messageBtn">
                        Send
                      </button>
                    </div>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        value="<%= user.username%>"
                        type="hidden"
                        readonly
                      />
                      <div class="input-group-append">
                        <button class="btn custom-button" type="button" id="usernameBtn">
                          Let's chat
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-8 ">
              <div class="text-center">
                <h6 class="ls3 text-u"><%= item.item_name%></h6>
            </div>
            <div class="exp text-center">
                <div class="full-width">
                    <div>
                        <iframe src="http://localhost:3000/" width="750" height="600" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 valign">
                    <p class="white">Current Price: 
                        <span class="white"id="currentPrice">$100</span>
                    </p>
                </div>
                <div class="col-3 valign">
                    <ul class="list-group list-group-flush scroll-box2 white"  id="bidHistory">
                    <!-- Bid history will be dynamically updated here -->
                    </ul>
                </div>
                <div class="row">
                    <div class="col-2 valign">          
                        <input type="" id="username" value="<%= user.username%>" readonly>        
                        <input type="number" id="bidAmount" placeholder="Enter your bid amount">
                        <button class="btn custom-button"  onclick="placeBid()">Place Bid</button>
                    </div>
                </div>
                <div class="col-1 valign">
                    <div class="text-center">
                        <button class="btn custom-button"  onclick="bidMin()">MinB</button>
                    </div>
                </div>
                <p id="winnerText"></p>
            </div>
              
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

    <!-- chat -->
    <script src="http://localhost:3030/js/chatroom.js"></script>

    <script src="http://localhost:3030/js/live.mjs" type="module"></script>
    <script src="http://localhost:3030/js/Hello.js"></script>

    <!-- jQuery -->
    <script src="http://localhost:3030/vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="http://localhost:3030/vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="http://localhost:3030/vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="http://localhost:3030/vie-dark/js/scripts.js"></script>


    <script>
        // Bidding system logic
        let currentPrice = 100;
        const bidHistory = [];
        let winnerUsername = '';
        const bm = "<%= item.item_minimum_bid%>"
        const min = parseInt(bm);
      function placeBid() {
      const usernameInput = document.getElementById('username');
      const bidAmountInput = document.getElementById('bidAmount');

      const username = usernameInput.value.trim();
      const bidAmount = parseInt(bidAmountInput.value);

      if (bidAmount > currentPrice) {
        currentPrice = bidAmount;
        bidHistory.push({ username, bidAmount });

        updateCurrentPrice();
        updateBidHistory();

        bidAmountInput.value = '';

        if (bidAmount > currentPrice) {
          winnerUsername = username;
          updateWinnerText();
        }
      } else {
        alert('Your bid must be higher than the current price.');
      }
    }
    
    function updateCurrentPrice() {
      const currentPriceElement = document.getElementById('currentPrice');
      currentPriceElement.textContent = `$${currentPrice}`;
    }
    
    function updateBidHistory() {
      const bidHistoryElement = document.getElementById('bidHistory');
      bidHistoryElement.innerHTML = '';

      bidHistory.forEach((bid) => {
        const listItem = document.createElement('li');
        listItem.textContent = `Bid: $${bid.bidAmount} by ${bid.username}`;
        bidHistoryElement.appendChild(listItem);
      });
    }

    function bidMin() {
      if (bidHistory.length > 0) {
        const previousBid = bidHistory[bidHistory.length - 1];
        const bidAmountInput = document.getElementById('bidAmount');
        bidAmountInput.value = previousBid.bidAmount + min;
      } else {
        alert('There is no previous bid history.');
      }
    }

    function updateWinnerText() {
      const winnerText = document.getElementById('winnerText');
      winnerText.textContent = `Winner: ${winnerUsername}`;
    }
      </script>
</body>
</html>