<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Vie onepage themeforest" />
    <meta name="description" content="Vie - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Bidlersegde</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://localhost:3030/vie-dark/img/auc_icon.png" />

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
     rel="stylesheet">
    <link
     href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap"
     rel="stylesheet">


    <!-- Plugins -->
    <link rel="stylesheet" href="http://localhost:3030/vie-dark/css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="http://localhost:3030/vie-dark/css/style.css" />
<style>
    .n{
        align-items: center;
        font-size: large;
        color: aquamarine;
    }
</style>

</head>

<body class="position-r">



    <!-- ==================== Start Loading ==================== -->

    <div class="loading">
        <span>L</span>
        <span>o</span>
        <span>a</span>
        <span>d</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
    </div>

    <div id="preloader">
    </div>

    <!-- ==================== End Loading ==================== -->

    

    <!-- ==================== Start cursor ==================== -->

    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <!-- ==================== End cursor ==================== -->



    <!-- ==================== Start Navbar ==================== -->

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <!-- Logo -->
            <a class="logo" href="/user">
                <img src="http://localhost:3030/vie-dark/img/user.png" alt="Profile">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users"><%= user._id%></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user_edit/<%= user._id%>"><%= user.username%></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">History</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/" class="btn btn-custom" >Sign out</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ==================== End Navbar ==================== -->



    <div class="main-content">




        <!-- ==================== Start Services ==================== -->

        <section class="services bords section-padding position-re" data-scroll-index="2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="sec-head  text-center">
                            <h6 class="wow fadeIn" data-wow-delay=".5s">Features</h6>
                            <h3 class="wow color-font">Choose features what you want</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".5s">
                        <div class="item-box md-mb50">
                            <h6>Auction Room</h6>
                            <p>Find product that you need</p>
                            <a href="/user/<%=user._id%>" class="butn bord curve mt-30">
                                <span>Go</span>
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".7s">
                        <div class="item-box md-mb50">
                            <h6>Register Item</h6>
                            <p>Register your product for sell in auction</p>
                            <a href="/register_item/<%=user._id%>" class="butn bord curve mt-30">
                              <span>Register</span>
                          </a>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInLeft" data-wow-delay=".9s">
                        <div class="item-box">
                            <h6>Reserve room</h6>
                            <p>Reserve room to open your auction room</p>
                            <a href="/room/<%=user._id%>" class="butn bord curve mt-30">
                              <span>Reserve</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line top left"></div>
            <div class="line bottom right"></div>
        </section>

        <!-- ==================== End Services ==================== -->


    <!-- ==================== Start works ==================== -->

    <section class="portfolio po-arch section-padding pb-70" data-scroll-index="3">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-10">
                  <div class="sec-head  text-center">
                      <h2 class="wow fadeIn" data-wow-delay=".3s">Reserve room</h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">

              <!-- gallery -->
              <div class="gallery full-width">

                  <!-- gallery item -->
                  <!-- Room -->
                <% Object.values(room).forEach(function(room){%>
                  <div class="col-md-6 items  lg-mr wow fadeInUp" data-wow-delay=".4s">
                      <div class="cont">
                          <span class="tags main-color custom-font">
                            <div class="n">Advertising: <%= room.item_ad%></div>
                            <br>
                            <a>Time open: <%= room.time_open%></a>
                            <br>
                            <a>Time close: <%= room.time_close_door%></a>
                            <br>
                            <a>Time finish: <%= room.time_finish%></a></br>
                            <a>Date: <%= room.auction_day%></a>
                            <a class="butn light mt-30 full-width" href="/book_room/<%= user._id%>/<%= room._id%>" > Reserve </a>
                          </span>
                      </div>
                  </div>
                  <% }) %>


              </div>

          </div>
      </div>
  </section>

  <!-- ==================== End works ==================== -->







    </div>




    <!-- jQuery -->
    <script src="http://localhost:3030/vie-dark/js/jquery-3.0.0.min.js"></script>
    <script src="http://localhost:3030/vie-dark/js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="http://localhost:3030/vie-dark/js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="http://localhost:3030/vie-dark/js/scripts.js"></script>

</body>

</html>